<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
<!--  font from google  -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
  <!-- link to Stylesheet -->
  <title>Churches at Gu16</title>
</head>

<body>
  <div id="banner">
    <h2>Serving the local community.
  </div>
  <div id="title">
    <h1>Welcome to Churches at GU16!</h1>
  </div>
  <div id="middle">
    <div id="content"> <!-- text content -->
      <h2 class="title"> Churches@GU16 is the group of churches that serve the GU16 postcode area. </h2>
      <p> On this web-site you will find information about the churches and their activities. </p>
      <p>The links on the right will take you to summary information about these local churches and from there you can get to their web pages. </p>
        <p> churches@GU16 organise some joint activities which you can find using the 'Events' link.</p>
      <iframe src="https://www.google.com/maps/d/embed?mid=1TNXNdTsyiZeBZb_Av6_WRbSkHFs&hl=en" width="100%" height="480"></iframe>
 </div>
    <div id="buttons"> <!-- Links-->
      <button id="welcome">Welcome</button>
      <button id="events">Events</button>
      <button id="encounter">Encounter Church</button>
      <button id="fbc">Frimley Baptist Church</button>
      <button id="fgm">Frimley Green Methodist</button>
      <button id="mbc">Mytchett Baptist Church</button>
      <button id="mcc">Mytchett Community Church</button>
      <button id="olqoh">Our Lady Queen of Heaven</button>
      <button id="sta">St. Andrews</button>
      <button id="stf">St. Francis'</button>
      <button id="stp">St. Peters</button>
      <button id="hc">Hospital Chaplains</button>
      <button id="cc">Children's Clubs</button>
      <button id="sc">Senior Citizens Activities</button>
      <button id="oanda">Organisations and Advice</button>
      <a href='mailto:gu16.bible.club@gmail.com'><button id="email">E-mail</button></a>
    </div>
  </div>
  
  <div id="footer">
      <h2> Churches@GU16 </h2>
    </div>
</body>
  <script src="/scripts/landing.js"></script>
</html>